@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600;700&family=Inter:wght@700;800&display=swap');

@media ( max-width: 1200px ) {
    .login{
        margin-top: 10%; 
        margin-right: 10%;
    }
  }


body{
    background-image: linear-gradient(to right bottom, #591da9, #051960 100%);
    background-repeat: no-repeat;
    background-size: 110%;
}


.logo {
    margin: 49px 0 0 20px;
    font-size: 32.87px;
    font-weight: 800;
    color: white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}




.login {
    float:left;
    margin: -10px 0px 0 630px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-decoration: none;
}


.footer{
    position: relative;
    height: 100px;
    width: cover;
    background-size: 100%;
    margin: 0px 0 -5px -10px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: grey;
    left: 20%;
    margin: 40px 0 0 0;
}


.Home{
    float: left;
    background-image: url(./img/mainimg.svg), url(./img/mainimg3.svg), url(./img/mainimg2.svg);
    background-repeat: no-repeat;
    background-position: 65% 35%, 75% 40%, 60% 10%;
    background-size: auto;
    background-blend-mode: normal;
    width: 100%;
    height:100%;
}

.effect1{
    background-image: url(./img/mainimg3.svg), url(./IMG2/effect6.svg);
    background-repeat: no-repeat;
    background-position:left 440px top 270px, left 470px top 120px;
    background-attachment:scroll;
    background-size: 200px, 100%;
    background-blend-mode: normal;
    width: 100%;
    height:100%;
}

.mainQ1 {
    clear:left;
    margin: 228px 0 0 105px;
    font-size: 43.15px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.mainQ2 {
    clear:left;
    margin: 9px 0 0 105px;
    font-size: 68.77px;
    font-weight: 700;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.mainQ3 {
    clear:left;
    margin: 39px 0 0 105px;
    font-size: 23.43px;
    opacity: 0.7;
    font-weight: 400;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;
}


.mainQ4 {
    clear:left;
    margin: 11px 0 0px 105px;
    font-size: 28.64px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.mainbutton {
    margin: 0px 0 150px 0px;
}


.mainbutton {
    background-color: #3ccfe2;
    color: #eceaea;
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 100px;
    border-radius: 15px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}


.mainbutton:hover,
.mainbutton:focus,
.mainbutton:active {
    cursor: pointer;
    transform: scale(1.1);
  }


.roundbutton{
    float:left;
    position: relative;
    margin: 0px -270px 0 300px;
    width: 380px;
    height:380px;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #ffffff, #8b8888 100%);
    color: rgb(15, 10, 61);
    position: relative;
    border: none;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-weight: 700;
    transition: 0.25s;
    font-size: 40px;

}

.roundbutton:hover,
.roundbutton:focus,
.roundbutton:active {
    cursor: pointer;
    transform: scale(1.1);
  }

  .roundbutton2{
    float:left;
    position: relative;
    margin: 0 0 0 0 ;
    width: 150px;
    height:150px;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #ffffff, #8b8888 100%);
    color: rgb(15, 10, 61);
    position: relative;
    border: none;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-weight: 700;
    transition: 0.25s;
    font-size: 30px;

}

.roundbutton2:hover,
.roundbutton2:focus,
.roundbutton2:active {
    cursor: pointer;
    transform: scale(1.1);
  }

  .roundbutton3{
    float:left;
    margin: 0px 30px 0 60px;
    width: 250px;
    height:250px;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #ffffff, #8b8888 100%);
    color: rgb(15, 10, 61);
    position: relative;
    border: none;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-weight: 700;
    transition: 0.25s;
    font-size: 25px;

}

.roundbutton3:hover,
.roundbutton3:focus,
.roundbutton3:active {
    cursor: pointer;
    transform: scale(1.1);
  }

.Q1-01{
    border: 1px solid red;
    clear:left;
    margin: 10px 20px -40px 220px;
    font-size: 42px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;   
}

.Q1-02{
    clear:left;
    border: 1px solid red;
    margin: 30px 0px 0px 440px;
    margin-bottom: -50px;
    font-size: 60px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;   
}


.Q2-01{
    border: 1px solid red;
    clear:left;
    padding: 10px 200px 30px 220px;
    font-size: 42px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;
}


.Q2-02{
    clear:left;
    border: 1px solid red;
    margin: 420px 0px 0px 700px;
    font-size: 60px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.Q3-01{
    border: 1px solid red;
    clear:left;
    margin: 30px 0px 35px 500px;
    font-size: 60px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.Q4-01{
    border: 1px solid red;
    clear:left;
    padding: 10px 20px 0 220px;
    font-size: 42px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;   
}

.Q4-02{
    clear:left;
    border: 1px solid red;
    margin: 30px 0px 0px 440px;
    margin-bottom: -50px;
    font-size: 60px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;  
}

.Q5-01{
    border: 1px solid red;
    clear:left;
    padding: 10px 20px 0 220px;
    font-size: 42px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;   
}

.Q5-02{
    clear:left;
    border: 1px solid red;
    margin: 30px 0px 0px 440px;
    margin-bottom: -50px;
    font-size: 60px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;  
}


.Q6-01{
    clear:left;
    border: 1px solid red;
    margin: 30px 0px 0px 0px;

    font-size: 60px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;  
}

.ResultQ1{
    clear:left;
    border: 1px solid red;
    margin: 20px 0px -20px 200px;
    font-size: 50px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;  
}

.ResultQ2{
    clear:left;
    border: 1px solid red;
    margin: 30px 0px 0px 200px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;  
}

.ResultQ3{
    clear:left;
    border: 1px solid red;
    margin: 30px 0px 0px 200px;
    font-size: 50px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;  
}

.ResultQ4{
    clear:left;
    border: 1px solid red;
    margin: 30px 0px 0px 200px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    font-family: 'IBM Plex Sans KR', sans-serif;  
}

.LaptopImg{
    clear:left;
    height: 230px;
    margin: -30px 180px 0 70px;
}

.btnImg{
    clear:left;
    height: 140px;
    margin: -30px 0 0px 0px;
}

.tohome{
    display : inline-block;
    border: 1px solid red;
    clear:left;
    font-size: 25px;
    font-weight: 600;
    color: white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.container1{
    float: left;
    background-image: url(./img/simbol2.svg), url(./img/mainimg2.svg);
    background-repeat: no-repeat;
    background-position: 70% 15%, 86% 0%;
    background-size: 200px, 300px;
    background-blend-mode: normal;
    width: 100%;
    height:100%;
}

.product-box {
    float: left;
    width: 600px;
    height: 300px;
    padding: 80px;
    margin: 40px -30px 0px 85px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 15px;
    opacity: 0.9;
  }

  .radius1{

     margin: 0px 0px 0px 0px;
     top:240px;
     left:300px;
     position: relative;
     z-index: 1;
  }

  .radius2{
  
    padding: 0px 0px  0px 0px;
    top:320px;
    left:320px;
    position: relative;
    z-index: 2;
  }

  .radius3{
 
    margin: 0px 0px 0px 0px;
    top: 240px;
    left:340px;
    position: relative;
  }

  .radius4{
  
    margin: 0px 0px 0px 0px;
    top:70px;
    left:210px;
    position: relative;
  }

  .radius5{

    top:-100px;
    left:-40px;
    margin: 30px 50px 50px 50px;
    position: relative;
  }

  .radius6{

    top:15px;
    left:-480px;
    margin: 30px 50px 50px 50px;
    position: relative;
  }

  .radius7{

    margin: 0px 0px 0px 0px;
    top:-120px;
    left:-520px;
    position: relative;
  }

